 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');




*{
    margin: 0;
    font-family: 'Roboto';
}

.topo{
    display: flex;
    background: white;
    width: 100%;
    height: 100px
}

#logo{
    margin: 0px 0px 0px 20px;
}

#lista{
    margin: 35px 0px 0px 0px;
}

#b1{
    background:#c4c4c4;
    font-size: 18px;
    width: 130px;
    height: 27px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 260px;
    cursor: pointer;
}


#b2{
    background:#c4c4c4;
    font-size: 18px;    
    width: 100px;
    height: 27px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}


#b3{
    background:#c4c4c4;
    font-size: 18px;
    width: 100px;
    height: 27px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}


#b4{
    background:#c4c4c4;
    font-size: 18px;
    width: 100px;
    height: 27px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}


#b5{
    background:#c4c4c4;
    font-size: 18px;
    width: 100px;
    height: 27px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}