<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static',filename= 'index.js')}}"></script>
</head>
<body>
    <input type="text" id="input" name="name" placeholder="Qual seu nome?">
    <button onclick="enviar()">Enviar</button>

    <input type="text" id="input2" name="name" placeholder="Qual seu nome?">
    <input type="text" id="sobrenome" placeholder="Qual seu sobrenome">
    <button onclick="enviar2()">Enviar</button>
</body>

</html>